[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Core/vendor/spdlog"]
	path = Core/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Core/vendor/glfw"]
	path = Core/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Core/vendor/imgui"]
	path = Core/vendor/imgui
	url = https://github.com/ocornut/imgui.git
